<div class="container-fluid text-center">
    <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
        <div class="row">
          <div class="col-md-12">
            <h1 class="display-5"> Event title: <%= @event.title%> </h1>
            <p class="lead"> <%= @event.description%></p>
            <p class="lead">
              Start: <%= @event.start_date%> | Duration: <%= @event.duration%>
            </p>
            <p class="lead">
              Place: <%= @event.location%> | Price: <%= @event.price%> $
            </p>
            <p class="lead"> Admin: <%= link_to @event.user.first_name, "/users/#{@event.user.id}" %></p>
            <% if !@event.users.include?(current_user) && current_user != @event.user%>
              <% if @event.is_free? %>
                  <%= link_to 'Subscribe', event_attendances_path(@event), method: :create%>
              <% else %>
                  <%= link_to 'Subscribe', new_event_attendance_path(@event)%>
              <% end %>
            <% end %>
            <% if @event.user == current_user%>
                <p class="nav-link active">
                    <%= link_to 'Mon espace Evenement', attendances_path %>
                </p>
            <% end%>
          </div>
        </div>
    </div>
</div>