
    <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <div class="py-2 d-none d-md-inline-block">
            <%= link_to "Home", '/' %>
            <%= link_to "Create Event", new_event_path %>
        </div>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% if user_signed_in? %>
                <div class="dropdown-item"><%= link_to "My profile", user_path(current_user) %></div>
                <div class="dropdown-item" href="#"><%= link_to "Logout", destroy_user_session_path, method: :delete %></div>
            <% else %>
                <div class="dropdown-item" ><%= link_to "Sign in", new_user_session_path %></div>
                <div class="dropdown-item" ><%= link_to "Sign up", new_user_registration_path %></div>
            <% end %>
            </div>
        </li>
      </div>
    </nav>